/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgb(130, 127, 127);
  background-color: #1e1e1e;
  width: 320px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 25px;
}

.top_btn {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: start;
}

#btn {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: none;
  border-radius: 50%;
}

.btn1 {
  background-color: red;
}
.btn2 {
  background-color: orange;
}
.btn3 {
  background-color: rgb(2, 198, 2);
}

.calculator_display {
  border: none;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  color: white;
  width: 100%;
}

.calculator_display > p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  text-align: right;
  position: relative;
}

.calculator_display ::before {
  content: ''; /* 가상 요소 생성 */
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0)); /* 왼쪽에서 오른쪽으로 투명도 변화 */
  z-index: 1; /* 텍스트 위에 배치 */ 
}

.result {
  font-size: 27px;
  color: rgb(176, 166, 166);
}

.input {
  font-size: 40px;
  /* width: 100%; */
  /* direction: rtl; */
  border: none;
  color: white;
}

.calculator_btn {
  height: 90%;
  width: 100%;
}

.calculator_btn > div {
  display: flex;
  height: 20%;
}

.calculator_btn > div:last-child > div {
  width: 100%;
  display: flex;
}

.calculator_btn > div:last-child > div:last-child {
  display: flex;
}

.calculator_btn button {
  width: 100%;
  border: 0.1px solid rgb(111, 108, 108);
  color: white;
  background-color: rgb(59, 59, 59);
  font-size: 30px;
  border-radius: 50%;
  margin: 0.2rem;
}

.calculator_btn button.operator {
  font-weight: bold;
  background-color: orange;
}

.calculator_btn button.function {
  background-color: rgb(130, 127, 127);
}

.zero {
  flex-grow: 1;
  border-radius: 25px !important;
  height: 100%;
}

.button:active {
  background-color: gray;
}
